@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Font and colors variables */

:root {
    --font-primary: 'Poppins', sans-serif;

    --orchid: #cb6ce6;
    --magnolia: #fae7ff;
    --royal-blue: #5271ff;
    --lavender: #e1e6ff;
    --medium-turquoise: #5ce1e6;
    --han-purple: #5e17eb;

    --gray: #7d7d7d;
    --gainsboro: #dbdbdb;

    --wageningen-green: #45a834;
    --nyanza: #e2ffdd;
    --coral-red: #ff3b3b;
    --pale-pink: #ffd5d5;

    --black: #000000;
    --white: #ffffff;
}

body {
    font-family: var(--font-primary) !important;
}

.main-title{
    font-family: var(--font-primary) !important;
    color: var(--royal-blue) !important;
    font-weight: 500 !important;
    text-shadow: 2px 2px 0px #ccc9ff!important;
    line-height: 1 !important;
}

.main-b{
    background-color: var(--royal-blue) !important;
    color: white !important;
    font-weight: 400 !important;
    border-radius: 25px !important;
    padding: 12px 22px !important;
}

.main-b:hover{
    background-color: transparent !important;
    color: var(--royal-blue) !important;
    font-weight: 500 !important;
    border: 3px solid var(--royal-blue) !important;
    border-radius: 25px !important;
}

.sub-b{
    font-weight: 400 !important;
    background-color: transparent !important;
    border: 1px solid var(--royal-blue) !important;
    border-radius: 5px !important;
}

.sub-b:hover{
    color: var(--royal-blue) !important;
    font-weight: 500 !important;
}

.line {
    border: 0 !important;
    border-top: 1px solid black !important;
}

.chakra-heading {
    font-family: var(--font-primary) !important;
}

.filterItems p{
    cursor:pointer !important;
}

.filterItems p:hover{
    font-weight: 500 !important;
}