@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Font and colors variables */

:root {
    --font-primary: 'Poppins', sans-serif;

    --orchid: #cb6ce6;
    --magnolia: #fae7ff;
    --royal-blue: #5271ff;
    --lavender: #e1e6ff;
    --medium-turquoise: #5ce1e6;
    --han-purple: #5e17eb;

    --gray: #7d7d7d;
    --gainsboro: #dbdbdb;

    --wageningen-green: #45a834;
    --nyanza: #e2ffdd;
    --coral-red: #ff3b3b;
    --pale-pink: #ffd5d5;

    --black: #000000;
    --white: #ffffff;
}

body {
    font-family: var(--font-primary);
}

.main-title{
    color: var(--royal-blue);
    font-weight: 500;
    text-shadow: 2px 2px 0px #ccc9ff;
    line-height: 1.2;
}

.main-button{
    background-color: var(--royal-blue);
    color: white;
    font-weight: 400;
    border-radius: 25px;
    padding: 12px 22px;
}

.main-button:hover{
    background-color: transparent;
    color: var(--royal-blue);
    font-weight: 500;
    border: 3px solid var(--royal-blue);
    border-radius: 25px;
}